<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/match.css">
    <link rel="icon" href="/img/logo.png">
    <title>Match</title>

</head>

<body class="bg-primary">
    <div class="container mt-3">

        <div class="text-light border-bottom p-2 text-center fs-4">
            Welcome to match
        </div>

        <div class="d-flex justify-content-between">
            <div class="d-flex">
                <div>
                    <label for="player1" class="text-light">Jogador 1</label>
                    <input class="form-control" type="text" name="player1" id="player1" value="<%= locals.player1 %>">
                </div>
                <div id="quadrado">
                    <img src="/img/symbol_X.png" width="90%" alt="symbol_O">
                </div>
            </div>


            <div class="d-flex">
                <div id="quadrado">
                    <img src="/img/symbol_O.png" width="90%" alt="symbol_">
                </div>
                <div>
                    <label for="player2" class="text-light text-end w-100">Jogador 2</label>
                    <input class="form-control" type="text" name="player2" id="player2" value="<%= locals.player2 %>">
                </div>
            </div>
        </div>

        <div class="d-flex justify-content-center mt-3">
            <div>
                <div class="d-flex">
                    <button id="btn-cell-1">
                        <img id="img-cell-1" src="/img/symbol_X.png" width="80" alt="">
                    </button>
                    <button id="btn-cell-2">
                        <img id="img-cell-2" src="/img/symbol_X.png" width="80" alt="">
                    </button>
                    <button id="btn-cell-3">
                        <img id="img-cell-3" src="/img/symbol_X.png" width="80" alt="">
                    </button>
                </div>
                <div class="d-flex">
                    <button id="btn-cell-4">
                        <img id="img-cell-4" src="/img/symbol_X.png" width="80" alt="">
                    </button>
                    <button id="btn-cell-5">
                        <img id="img-cell-5" src="/img/symbol_X.png" width="80" alt="">
                    </button>
                    <button id="btn-cell-6">
                        <img id="img-cell-6" src="/img/symbol_X.png" width="80" alt="">
                    </button>
                </div>
                <div class="d-flex">
                    <button id="btn-cell-7">
                        <img id="img-cell-7" src="/img/symbol_X.png" width="80" alt="">
                    </button>
                    <button id="btn-cell-8">
                        <img id="img-cell-8" src="/img/symbol_X.png" width="80" alt="">
                    </button>
                    <button id="btn-cell-9">
                        <img id="img-cell-9" src="/img/symbol_X.png" width="80" alt="">
                    </button>
                </div>
            </div>
        </div>
    </div>
    </div>
    <h2 class="text-center mt-2">
        Vez do Jogador <span id="whoPlayNow"></span>
    </h2>
    <div class="text-center mt-3">
        <div class="button d-flex justify-content-center">
            <button id="reload" class="btn btn-secondary" style="display: flex; align-items: center;">
                <span id="msgPlayAgain">Jogar de novo</span><img id="gif-loading" width="20" src="/img/loading.gif"
                    alt="">
            </button>
        </div>
    </div>

    </div>

    <script src="/socket.io/socket.io.js"></script>

    <script src="/js/partida.js"></script>

</body>

</html>