<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Salas</title>
    <style>
        #salas-disponiveis {
            height: 200px;
            overflow: auto;
        }

        ::-webkit-scrollbar {
            width: 12px;
        }

        ::-webkit-scrollbar-thumb {
            background-color: #888;
        }

        ::-webkit-scrollbar-track {
            background-color: #f1f1f1;
        }

        #sala {
            border-bottom: 1px solid black;
        }

        #sala:hover {
            background-color: rgb(102, 174, 241);
        }
    </style>
</head>

<body class="bg-primary">
    <div class="mb-5">
        <div class="text-light border-bottom p-2 text-center fs-4">Criação de Salas</div>
        <form class="m-3">
            <label for="nomeJogador" class="text-light">Insira seu nome</label>
            <input type="text" name="nomeJogador" class="form-control" id="nomeJogador" value="" readonly>
            <label for="nomeJogador" class="text-light">Insira o nome da sala</label>
            <input type="text" name="nomeSala" class="form-control" id="nomeSala" required>
            <div class="text-center mt-3">
                <button class="btn btn-transparent border-light text-light">Criar Sala</button>
            </div>
        </form>
    </div>

    <div>
        <div class="text-light border-bottom p-2 text-center fs-4">Salas Disponíveis</div>
        <!-- Button trigger modal -->
        <a style="display: none;" id="toggle-active-modal" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            Launch demo modal
        </a>

        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Link copiado!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Entrar: <div class="btn btn-transparent" style="border: 1px solid black;"
                            onclick="entrando_na_sala()" id="link-da-sala">Link da sala</div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Fechar</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="salas-disponiveis"></div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
            integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
            crossorigin="anonymous"></script>
        <script src="/socket.io/socket.io.js"></script>

        <script>
            const socket = io();
            let nomeJogador;

            function getNameInCookie() {
                let cookie = document.cookie;
                let indIgual = cookie.indexOf('=');
                nomeJogador = cookie.substring(indIgual + 1, cookie.length);
                let indPtoVir = cookie.indexOf(';');
                document.getElementById('nomeJogador').value = nomeJogador;
                socket.emit('getMyIdSocket', nomeJogador);
            }
            getNameInCookie();

            const form = document.querySelector('form');
            const inJogador = document.querySelector('#nomeJogador');
            const inSala = document.querySelector('#nomeSala');
            let jaTemUmaSala = false;

            form.addEventListener('submit', (e) => {
                e.preventDefault();

                if (!jaTemUmaSala) {
                    let criadorSala = inJogador.value.replace(' ', '_');
                    let nomeSala = inSala.value.replace(' ', '_');;

                    let novaSala = {
                        id: 0,
                        criador: criadorSala,
                        nome: nomeSala,
                        adversario: 'nao-definido',
                        numJogadores: 0,
                        jogador1: 'nao-definido',
                        jogador2: 'nao-definido',
                        idJ1: '',
                        idJ2: ''
                    }
                    socket.emit('nova-sala', novaSala);

                    inSala.value = '';
                    inSala.focus();

                    jaTemUmaSala = true;
                } else {
                    alert('Lamento, mas você só pode uma sala por vez!');
                }
            })

            socket.on('listar-salas', (salasDoJogo) => {
                let salas = document.getElementById('salas-disponiveis');
                let idSala = 0;
                salas.innerHTML = '';
                salasDoJogo.forEach(sala => {
                    let salaHTML = `
                    <div id="sala" class="ms-3 p-1 text-light" >
                        <h4>${sala.nome} - ID-${sala.id}</h4>
                        <div>Criado por ${sala.criador}</div>
                        <button class="btn btn-success mt-2" onclick="entrarNestaSala(${sala.id})">Entrar</button>
                    `;
                    if (sala.criador == nomeJogador) {
                        salaHTML += `
                            <button class="btn btn-danger mt-2" onclick="excluirSala(${idSala})">Excluir</button>
                        `
                    }
                    salaHTML += `
                    </div>`;
                    salas.innerHTML += salaHTML;
                    idSala++;
                });
            });

            function excluirSala(idSala) {
                socket.emit('excluir-sala', idSala);
            }

            socket.on('sala-excluida', (_) => {
                jaTemUmaSala = false;
            });

            // convidado
            function entrarNestaSala(idSala) {
                alert("Entrando na sala " +idSala);
                socket.emit('entrar-na-sala', idSala);
            }

            socket.on('entrar-na-partida', (link) => {
                window.location.href = link;
            });

            socket.on('getMyId', (idSocket) => {
                alert(idSocket);
            });

        </script>
</body>

</html>
